<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>
    <typeAliases>
      <typeAlias alias="IEarPhone" type="Xu.UnityDemo.Interface.IEarPhone,Xu.UnityDemo" />
      <typeAlias alias="IPhone" type="Xu.UnityDemo.Interface.IPhone,Xu.UnityDemo" />
      <typeAlias alias="NubiaPhone" type="Xu.UnityDemo.Model.NubiaPhone,Xu.UnityDemo" />
      <typeAlias alias="MiPhone" type="Xu.UnityDemo.Model.MiPhone,Xu.UnityDemo" />
      <typeAlias alias="NubiaEarPhone" type="Xu.UnityDemo.Model.NubiaEarPhone,Xu.UnityDemo" />
      <typeAlias alias="MiEarPhone" type="Xu.UnityDemo.Model.MiEarPhone,Xu.UnityDemo" />
    </typeAliases>
    <containers>
      <container name="IOCcontainer">
        <type type="IPhone" mapTo="MiPhone" name="Mi"></type >
        <type type="IPhone" mapTo="NubiaPhone"></type >
        <type type="IEarPhone" mapTo="NubiaEarPhone"></type >
      </container>
    </containers>
  </unity>
</configuration>